.carousal_item{
    height: 100vh;
    width:100vw;
    color:white;
    border: 1px solid red;
    
    
}

.carousal_item__content{
    position:absolute;
    top:50%;

}
.carousal_item__content>p{
width:300px;
font-size: 300;
}